{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <div>
        <p>Nom d'utilisateur: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        {# <a href="{{ path('forgot_password') }}">Mot de passe oublié</a> #}
        <a class="btn btn-primary" href="">Changer image de profile</a>
        <a class="btn btn-primary" href="">Réinitialiser le mot de passe</a>
    </div>
    <div>

    </div>
</div>

{% endblock body %}