{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <section class="vh-100 d-flex flex-column align-items-center"
        style="background-image: url(https://i.pinimg.com/originals/7d/60/a1/7d60a164b6462c6edebad8e61117ea61.jpg); background-position: center;">
        <div class="d-flex h-100 flex-column justify-content-center align-items-center text-white">
            <h1>Page non trouvé</h1>
            <span>La page que vous cherchez n'a pas été trouvé</span>
        </div>
        <div class="col-12 d-flex flex-row-reverse">
            <a href="#trick" class="btn text-white align-items-end"><i class="fa-solid fa-square-caret-down fa-2xl"></i>
            </a>
        </div>
    </section>
</div>
{% endblock %}
